name: Docker

on:
  workflow_dispatch:   # Manually trigger the workflow
  schedule:
    - cron: '29 18 * * 0'  # Every Sunday at 18:29 UTC
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - path: adaptivecpp-base
            dependencies: ''
          - path: adaptivecpp-hpc  # TODO: would need dependency on adaptivecpp-base matrix job, but cant to in this paradigm...
            dependencies: '["ghcr.io/cbyrohl/adaptivecpp-base:main"]'
          - path: intel-sycl-base
            dependencies: ''
          - path: intel-sycl-hpc
            dependencies: '["ghcr.io/cbyrohl/intel-sycl-base:main"]'
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@59acb6260d9c0ba8f4a2f9d9b48431a222b68e20
        with:
          cosign-release: 'v2.2.4'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull necessary Docker images
        id: pull-images
        run: |
          dependencies=$(echo '${{ matrix.dependencies }}' | jq -r '.[]')
          for image in $dependencies; do
            echo "Pulling $image..."
            docker pull $image
          done

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934
        with:
          images: ${{ env.REGISTRY }}/${{ github.actor }}/${{ matrix.path }}

      - name: Build and push Docker image
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09
        id: build-and-push
        with:
          context: ./${{ matrix.path }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: |
          for tag in ${TAGS}; do
            cosign sign --yes ${tag}@${DIGEST}
          done
